html {
  height: 100%;
}
footer{
  background-color: grey;
  padding: 20px;
}
.footer { 
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height:[footer-height] 
}
#css1 {
  display: inline;
  text-align:center;
  margin-right: 60px;
  
}
.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}
.containerf {
      text-align:center;
      display:inline-block;
      width:100%;
      height: 80pt;
}
body{
  background-color: lightblue;
  font-family: Arial;
  color: white;
}
#nav{
padding: 0px;
list-style: none;
display: inline-block;
}
ul li{
  float: left;
  width: 200px;
  height: 80px;
  background-color: black;
  opacity: .8;
  line-height: 80px;
  text-align: center;
  font-size: 1em;
}
ul li a{
  display:block;
  text-decoration: none;
  color: white;
  display: block;
  }
ul li a:hover{

  background-color: green;
}
ul li ul li{
  display: none;
}
ul li:hover ul li{
  display: block;
}
.container{
  margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}
