body{
	background-color: lightblue;
	font-family: Arial;
	color: white;
}
#nav{
padding: 0px;
list-style: none;
display: inline-block;
}
ul li{
	float: left;
	width: 200px;
	height: 80px;
	background-color: black;
	opacity: .8;
	line-height: 80px;
	text-align: center;
	font-size: 1em;
}
ul li a{
	display:block;
	text-decoration: none;
	color: white;
	display: block;
	}
ul li a:hover{

	background-color: green;
}
ul li ul li{
	display: none;
}
ul li:hover ul li{
	display: block;
}
.container{
	margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}
